{% extends 'base.html' %}
{% block title %}главная страница{% endblock %}
{% block content %}
    <div class="container">
        <h1>Список изображений</h1>
        {% if images %}
            <ul>
                {% for image in images %}
                    <a href="{% url 'edit_image' image.pk %}">{{ image }}</a>
                {% endfor %}
            </ul>
        {% else %}
        <p>нет доступных изображений</p>
        {% endif %}

        <a href="{% url 'add_image' %}">добавить новое изображение</a>
    </div>
{% endblock %}